.tac-container{
    border: 2px solid var(--mongo-green);
    margin: 5%;
    padding: 50px;
}

.tac-container h2{
    font-size: 34px;
    background-color: var(--mongo-green);
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tac-container h1{
    font-size: 30px;
    padding: 10px;
}

.tac-container p{
    text-align: justify;
}